.fullPageContainer {
    position: relative;
  }
  
  .fullPageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/background/background.jpeg') center/cover no-repeat;
    opacity: 0.2; /* 20% opacity */
    z-index: -1;
    margin: 0;
  }
  